* {
  box-sizing: border-box; /*bxbb*/
}

body {
  background-color: #eaeaea; /* bgc#90c7e3 */
  color: #555; /* c#555  */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /*ffa */
}
#wrapper {
  background-color: #90c7e3; /*bgc#90c7e3*/
  background-image: linear-gradient(to bottom, #fff, #90c7e3); /*bgi */
  border: 1px solid #003;
  box-shadow: 3px 3px 3px #333; /*bxsd*/
  margin: auto; /*m*/
  min-width: 960px; /*mw960px*/
  max-width: 2048px; /*mw2048px*/
  width: 80%; /*w80%*/
}
header {
  background-color: #000032; /*bgc#002171*/
  background-image: url(images/sunset.jpg); /*bgi */
  background-position: right; /*bgdp*/
  background-repeat: no-repeat; /*bgr*/
  background-size: contain; /*bgz*/
  color: #fff; /*c#fff*/
  height: 120px; /*h60px*/
  padding-top: 30px; /*pt15px*/
  text-align: center; /*tac*/
}

header a {
  text-decoration: none;
}

header a:link,
header a:visited {
  color: #fff; /*c#fff*/
}
header a:hover {
  color: #90c7e3; /*c#ff0*/
}

nav {
  float: left; /*fl*/
  font-size: 120%; /*fz120%*/
  font-weight: bold; /*fwb*/
  padding: 1.5em; /*p1.5em*/
  width: 160px; /*w160px*/
}

nav ul {
  font-size: 1.2em; /*fz1.2em*/
  list-style-type: none; /*lst*/
  margin: 0; /*m0*/
  padding-left: 0;
}

nav a {
  text-decoration: none; /*txd*/
}

nav a:link {
  color: #5c7fa3; /*c#5c7fa3*/
}

nav a:visited {
  color: #344874; /*c#344874*/
}
nav a:hover {
  color: #a52a2a; /*c#a52a2a*/
}
main {
  background-color: #fff; /*bgc#fff*/
  margin-left: 190px; /*ml190px*/
  padding: 1px 20px 20px 30px;
  display: block;
  overflow: auto; /*ova*/
}
section {
  float: left; /*fl*/
  padding-left: 2em; /*pl2em*/
  padding-right: 2em;
  width: 33%; /*w33%*/
}
h1 {
  font-size: 3em; /*fz3em*/
  letter-spacing: 0.25em; /*ls0.25em*/
  margin-bottom: 0; /*mb0*/
  margin-top: 0; /*mt0*/
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: #1976d2; /*c#1976d2*/
  text-shadow: 1px 1px #90a1c3; /*ts*/
}
h3 {
  color: #003; /*c#003*/
}
dt {
  color: #002171; /*c#002171*/
}
footer {
  background-color: #fff; /*bgc#fff*/
  font-size: 75%; /*fz75%*/
  font-style: italic; /*fsi*/
  margin-left: 190px; /*ml190px*/
  padding: 2em; /*p2em*/
  text-align: center; /*txa*/
}
.resort {
  color: #1976d2; /*c#191919*/
  font-weight: bold; /*fwb*/
}
#contact {
  font-size: 90%; /*fz90%*/
}
#homehero {
  background-image: url(images/coast2.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
  margin-left: 190px; /*ml190px*/
}
#yurthero {
  background-image: url(images/yurt.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
  margin-left: 190px; /*ml190px*/
}
#trailhero {
  background-image: url(images/trail.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
  margin-left: 190px; /*ml190px*/
}
