* {
  box-sizing: border-box; /*bxbb*/
}

body {
  background-color: #eaeaea; /* bgc#90c7e3 */
  color: #555; /* c#555  */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /*ffa */
}
#wrapper {
  background-color: #90c7e3; /*bgc#90c7e3*/
  background-image: linear-gradient(to bottom, #fff, #90c7e3); /*bgi */
}
header {
  background-color: #000032; /*bgc#002171*/
  background-image: url(images/sunset.jpg); /*bgi */
  background-position: right; /*bgdp*/
  background-repeat: no-repeat; /*bgr*/
  background-size: contain; /*bgz*/
  color: #fff; /*c#fff*/
  padding: 0.5em; /*p0.5em0*/
  text-align: center; /*tac*/
}

header a {
  text-decoration: none;
}

header a:link,
header a:visited {
  color: #fff; /*c#fff*/
}
header a:hover {
  color: #90c7e3; /*c#ff0*/
}

nav {
  /*font-size: 120%; /*fz120%*/
  font-weight: bold; /*fwb*/
  padding: 0; /*p1.5em*/
  text-align: center; /*tac*/
}

nav ul {
  font-size: 1.2em; /*fz1.2em*/
  list-style-type: none; /*lst*/
  margin: 0; /*m0*/
  padding-left: 0;
}
nav li {
  border-bottom: 1px solid #002171; /*bb1-solid-#002171*/
}

nav a {
  text-decoration: none; /*txd*/
}

nav a:link {
  color: #5c7fa3; /*c#5c7fa3*/
}

nav a:visited {
  color: #344874; /*c#344874*/
}
nav a:hover {
  color: #a52a2a; /*c#a52a2a*/
}
main {
  background-color: #fff; /*bgc#fff*/
  padding: 1px 20px 20px 30px;
  display: block;
  overflow: auto; /*ova*/
}

h1 {
  /* font-size: 3em; fz3em */
  letter-spacing: 0.25em; /*ls0.25em*/
  margin-bottom: 0.5em; /*mb0*/
  margin-top: 0.5em; /*mt0*/
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: #1976d2; /*c#1976d2*/
  text-shadow: 1px 1px #90a1c3; /*ts*/
}
h3 {
  color: #003; /*c#003*/
}
dt {
  color: #002171; /*c#002171*/
}
footer {
  background-color: #fff; /*bgc#fff*/
  font-size: 75%; /*fz75%*/
  font-style: italic; /*fsi*/
  padding: 2em; /*p2em*/
  text-align: center; /*txa*/
}
.resort {
  color: #1976d2; /*c#191919*/
  font-weight: bold; /*fwb*/
}
#contact {
  font-size: 90%; /*fz90%*/
}
#homehero {
  background-image: url(images/coast2.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
}
#yurthero {
  background-image: url(images/yurt.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
}
#trailhero {
  background-image: url(images/trail.jpg); /*bgi */
  background-repeat: no-repeat; /*bgr*/
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300px*/
}

table {
  border-bottom: 1px solid #1976d2; /*bb1-solid-#1976d2*/
  border-collapse: separate; /*bc*/
}

td,
th {
  padding: 0.5em; /*p0.5em*/
  /* border: 2px solid #39c; bd2-solid-#39c */
}
th {
  background-color: #1976d2; /*bgc#1976d2*/
  color: #fff; /*c#fff*/
}
td {
  text-align: center; /*tac*/
}
.text {
  text-align: left; /*ta:l*/
}
tr:nth-last-of-type(odd) {
  background-color: #ffcd6f; /*bgc#ffcd6f*/
}

form {
  display: flex; /*df*/
  flex-flow: column nowrap;
}

input,
textarea {
  margin-bottom: 0.5em;
}
video {
  float: right;
  margin: 1em;
}
#gallery {
  display: grid;
  gap: 2em;
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
  text-align: center;
  width: 100%;
}

/* Media queries */
@media (min-width: 600px) {
  nav ul {
    display: flex; /*df*/
    flex-direction: row; /*fdrow*/
    flex-wrap: nowrap; /*fw*/
    justify-content: space-around;
  }
  nav li {
    border-bottom: none; /* bdb:n */
  }

  .flow {
    display: flex; /*df*/
    flex-direction: row; /*fdrow*/
  }
  section {
    flex: 1;
    margin-right: 1em; /*mr1em*/
  }
  form {
    display: grid;
    grid-template-columns: 6em 1fr;
    gap: 1em;
    max-width: 30px;
    width: 60%;
  }
  input[type="submit"] {
    grid-column: 2 / 3;
    width: 9em;
  }
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

figcaption {
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 730px) {
  video {
    display: block;
    float: none;
    clear: both;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  header {
    background-image: none; /*bgi*/
  }
  #homehero,
  #yurthero,
  #trailhero {
    background-size: auto; /*h200px*/
  }
  /* Table styles for smartphone devices */
  #special table {
    display: block; /*db*/
    border-bottom: none; /*bd:n*/
  }
  #special th,
  #special td {
    display: block; /*db*/
  }

  /* Hide the table header elements */
  #special thead {
    display: none; /*dn*/
  }

  td.package::before {
    content: "Package: ";
  }
  td.description::before {
    content: "Description: ";
  }
  td.nights::before {
    content: "Nights: ";
  }
  td.cost::before {
    content: "Cost: ";
  }
  td.package,
  td.description,
  td.nights,
  td.cost {
    padding-left: 35%; /*pl35%*/
    position: relative; /*posr*/
    text-align: left; /*ta:l*/
    font-size: 4vw;
  }
  td::before {
    position: absolute; /*posa*/
    top: 10px; /*t10px*/
    left: 0.5em; /*l0.5em*/
    font-weight: bold; /*fwb*/
    color: #1976d2;
  }
}
@media (min-width: 1024px) {
  #wrapper {
    margin: auto; /*m:a*/
    width: 80%;
    border: 1px solid #002171; /*bd1-solid-#002171*/
    box-shadow: 3px 3px 3px #002171;
  }
  nav {
    text-align: left; /*ta:l*/
    padding-left: 1em; /*pl1em*/
  }
  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
    .hero {
      grid-area: hero;
    }
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    #gallery {
      grid-area: gallery;
    }
    footer {
      grid-area: footer;
    }
    #wrapper {
      display: grid;
      grid-template:
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
        / 180px 1fr;
    }
    #gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
